<div class="centered-container">
  <div class="centered">
    <h1>Templates</h1>
    <p>
      Download here the printing templates, they should be printed on <b>A3 pages</b>
      with a scale of 100%
    </p>
    <h2>Positionning templates</h2>
    <div class="flex-container">
      <div>
        <a
          href="assets/files/Jira2postit-empty template.pdf"
          download="Jira2postit-template-big"
        >
          <div class="image-container">
            <img
              class="template-image"
              src="../../assets/template-empty.png"
              alt="template to print big empty tickets for manual filling in"
            />
            <img
              class="logo"
              src="../../assets/pdf-icon.png"
              alt="pdf download icon"
            />
          </div>
        </a>
        <p>
          127 x 76 mm post-its
        </p>
      </div>
    </div>
    <h2>To be manually filled templates</h2>
    <div class="flex-container">
      <div>
        <a
          href="assets/files/Jira2postit-template-big.pdf"
          download="Jira2postit-template-big"
        >
          <div class="image-container">
            <img
              class="template-image"
              src="../../assets/template-big.png"
              alt="template to print big empty tickets for manual filling in"
            />
            <img
              class="logo"
              src="../../assets/pdf-icon.png"
              alt="pdf download icon"
            />
          </div>
        </a>
        <p>
          Big tickets template (127 x 76 mm post-its)
        </p>
      </div>
      <div>
        <a
          href="assets/files/Jira2postit-template-small.pdf"
          download="Jira2postit-template-big"
        >
          <div class="image-container">
            <img
              class="template-image"
              src="../../assets/template-small.png"
              alt="template to print big empty tickets for manual filling in"
            />
            <img
              class="logo"
              src="../../assets/pdf-icon.png"
              alt="pdf download icon"
            />
          </div>
        </a>
        <p>
          Small tickets template (127 x 76 mm post-its to be cut in three
          after printing)
        </p>
      </div>
    </div>
    <h2>Assignee template</h2>
    <div class="flex-container">
      <div>
        <!--
        <a
          href="assets/files/Jira2postit-empty template.pdf"
          download="Jira2postit-template-big"
        >
          <div class="image-container">
            <img
              class="template-image"
              src="../../assets/template-empty.png"
              alt="template to print big empty tickets for manual filling in"
            />
            <img
              class="logo"
              src="../../assets/pdf-icon.png"
              alt="pdf download icon"
            />
          </div>
        </a>
        <p>
          Under construction
        </p>
        -->
      </div>
    </div>
  </div>
</div>
